model_config_list {
  config {
    name: 'wave-u-net-m4'
    base_path: '/models/wave-u-net-m4/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'wave-u-net-m5-highsr'
    base_path: '/models/wave-u-net-m5-highsr/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'wave-u-net-m6'
    base_path: '/models/wave-u-net-m6/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'onsets-and-frames-piano-transcriber'
    base_path: '/models/onsets-and-frames-piano-transcriber/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'onsets-and-frames-drum-transcriber'
    base_path: '/models/onsets-and-frames-drum-transcriber/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'half-plus-two-cpu'
    base_path: '/models/half-plus-two-cpu/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'pann-resnet38'
    base_path: '/models/pann-resnet38/'
    model_platform: 'tensorflow'
  }
}